header{
    background-color: rgb(31, 185, 160);

}
.h1Header{
    color: rgb(81, 2, 133)
}

}
#dropdownMenuButton{
    background-color: rgb(73, 11, 75);
}

.imagen img{
    filter: grayscale(20%);
    opacity: 50%;
    max-width: 100%;
}
.flag{
    height: 100px;
    width: 100px;
   
}
.conteiner{
    background-color: rgb(23, 12, 34);
}

#chile{
    background-color: rgb(31, 185, 160);
}
#brasil{
    background-color: rgb(31, 185, 160);
}
#peru{
    background-color: rgb(31, 185, 160);
}
#mexico{
    background-color: rgb(31, 185, 160);
}