@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');

.texto-encima{
	position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-family: 'Allerta Stencil', sans-serif;
	font-size: 3rem;
	color: white;
}
.result{
	background-color: #ebd4ee
}
#root{
	background-color: #e5d7fa
}
h2{
	color: white;
	font-family: 'Allerta Stencil', sans-serif;
}

h4{
	color: purple;
	font-family: 'Allerta Stencil', sans-serif;
	text-transform: uppercase;
	margin-top: 2rem;
}



#promedio{
	margin-top:0rem;
}

#navbar {
	background-color: #d3c3ea;
}
#navbar2 {
	background-color: #d3c3ea;
}


#navbarContent {
	background-color: #aaebd4;
}

.h1Header {
	color: rgb(81, 2, 133);
}

#dropdownMenuButton {
	background-color: rgb(73, 11, 75);
}

.imagen img {
	filter: grayscale(20%);
	opacity: 50%;
	max-width: 100%;
}
.flag {
	height: 100px;
	width: 100px;
}






.footer-copyright {
	background-color: #d3c3ea;
	font-size: 20px;
	font-family: 'Allerta Stencil', sans-serif;
}

/*Animaciones del navbar*/
/* Icon 1 */

.animated-icon1 {
	width: 30px;
	height: 20px;
	position: relative;
	margin: 0px;
}

.animated-icon1 span {
	background: #000000;
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.animated-icon1 span:nth-child(1) {
	top: 0px;
}

.animated-icon1 span:nth-child(2) {
	top: 10px;
}

.animated-icon1 span:nth-child(3) {
	top: 20px;
}


.box{
    width: 50%;
    height: 60%;
}


.caja{
	width:40%;
    height:8rem
}


#buttonIndicator{
	position: relative;
    right: 30%;
    left: 30%;	

}